section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__bg-icon(src="images/finances-section-bg-icon.png" loading="lazy" width="1177" height="733" alt="icon")
      h2.finances-section__title.font-s-60.font-w-ps-regular.text-up
        | Оцените 
        span.color-red перспективы 
        | запуска 
        br.no-br
        | бизнеса по франшизе
      .finances-section__box
        img.finances-section__img(src="images/finances-section-img.jpg" loading="lazy" width="1024" height="1380" alt="image")
        .swiper-finances
          .finances-section__cards.swiper-wrapper
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 2 месяца
              .font-s-16 займет открытие <br> компании
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 36,4%
              .font-s-16 рентабельность <br> по чистой прибыли
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 3 085 000 руб
              .font-s-16 размер <br> ежемесячной выручки
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 8 месяцев
              .font-s-16 средний срок <br> окупаемости
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 4 635 000 руб
              .font-s-16 минимальный <br> размер вложений
            .finances-section__card.swiper-slide
              img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="242" height="301" alt="icon")
              .font-w-ps-regular.font-s-26.text-up 1 125 000 руб
              .font-s-16 размер ежемесячной <br> прибыли
          .finances-pagination.swiper-progress-finances
      .finances-section__bottom
        img.finances-section__bottom-icon(src="images/finances-section-bottom-icon.png" loading="lazy" width="842" height="602" alt="icon")
        .font-w-ps-regular.font-s-32
          | Хотите получить детальные расчеты 
          br.no-br
          | для вашего города и под ваш бюджет?
        .finances-section__bottom-text.font-s-18 Скачайте финансовую модель франшизы «МИТБЕРИ»
        button.btn.finances-item(data-remodal-target="modal-form-investments") ПОЛУЧИТЬ
