header.header
  .header__container
    .header__title
      img.header__logo(src="images/header-logo.png" loading="lazy" width="285" height="176" alt="logo")
      img.header__brand-name(src="images/header-brand-name.svg" loading="lazy" width="86" height="11" alt="icon")
      .header__brand
        img(src="images/header-brand-name.svg" loading="lazy" width="86" height="11" alt="icon")
        .font-w-regular.font-s-16 Франшиза крафтовой бургерной
    .header__connection
      include ../components/phone-number-header.pug
      //- a.btn.btn--call-me.header__call-me(data-remodal-target="modal-form-call-me") Заказать звонок
