section.presentation-section
  .presentation-section__wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-ps-regular.font-s-60.text-up
        | Так будет выглядеть 
        span.color-red ваша 
        br.no-br
        span.color-red собственная бургерная
      img.presentation-section__arrow(src="images/presentation-section-arrow.svg" loading="lazy" width="38" height="14" alt="icon")
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="1040" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="1040" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="1040" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="1040" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="1040" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="1040" height="800" alt="image")
        .swiper-progress-desktop.desktop-pagination

