.header
  &__container
    display: flex
    flex-direction: row
    align-items: center
    justify-content space-between
    color #2B2B2B

  &__title
    display: flex
    align-items: center
    +above($breakpoints.sm)
      gap: 8px

  &__logo
    width 70px
    height: auto
    +above($breakpoints.sm)
      width 85px
    +above($breakpoints.md)
      width 90px
    +above($breakpoints.xxl)
      width 95px

  &__brand-name
    width 75px
    height: 10px
    +above($breakpoints.sm)
      width 125px
      height: 17px
    +above($breakpoints.md)
      width 140px
      height: 19px
    +above($breakpoints.xxl)
      width 155px
      height: 21px

  &__brand
    display: none
    +above($breakpoints.sm)
      display: block
      border-left: 1px solid #464646
      padding-left: 8px
    +above($breakpoints.md)
      padding-left: 12px
    +above($breakpoints.xxl)
      padding-left: 17px
      margin-left 9px

  &__connection
    width 138px !important
    +above($breakpoints.sm)
      width 180px !important
    +above($breakpoints.md)
      width 220px !important
    +above($breakpoints.xxl)
      width 235px !important
