.swiper-progress-finances
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: #E30C30

.swiper-progress-about
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: #E30C30

.swiper-progress-steps
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: #E30C30

.swiper-progress-invest
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: #E30C30

.swiper-progress-desktop
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: #E30C30
.button-next,
.button-prev
    img
      border-radius: 50%
      width 25px
      height: auto
      +above($breakpoints.md)
        width 30px
      +above($breakpoints.xxl)
        width 36px
.button-next
  transform: rotateY(180deg)

.swiper-buttons
  display: none
  +above($breakpoints.sm)
    display: flex
    flex-direction: row
    justify-content center
    align-items: center
    gap: 10px
    margin-top 20px
    height: 42px
  +above($breakpoints.md)
    margin-top 26px
  +above($breakpoints.xxl)
    margin-top 31px

.swiper-pagination
  z-index 0 !important
  margin: 0 0 20px 0
  +above($breakpoints.md)
    margin: 0 0 70px 0
  +above($breakpoints.xxl)
    margin: 0 0 134px 0
.swiper-pagination-bullet
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent
  border: 1px solid #6A6A6A
.swiper-pagination-bullet-active
  opacity: 1;
  background: transparent
  border: 1px solid #fff
